# MongoDB connection string
# DB_URL=mongodb://localhost:27017/playboth
# MongoDB Atlas (SRV):
# DB_URL=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/playboth?retryWrites=true&w=majority

DB_URL=

# JWT / Auth
SECRET_KEY=
ALGORITHM=HS256

# Token expire
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS (frontend domain)
# CORS_ORIGINS=https://play-both-app.vercel.app
CORS_ORIGINS=http://localhost:5173
